<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>

    <script>
        class CustomError extends Error {
            constructor(message, code) {
                super(message); this.code = code;
            }
        }
    </script>
</head>

<body>
    <style>
        * {
            box-sizing: border-box;
        }

        .header {
            background-color: black;
        }

        body,
        nav,
        ul {
            margin: 0;
            padding: 0;
        }

        nav a {
            text-decoration: none;
            color:
                white;
            font-size: 1.5em;
        }

        ul {
            display: flex;
        }

        nav li {
            padding: 1em 2em;
        }

        body {
            background-color: azure;
        }

        .main {
            display: grid;
            justify-content: center;
        }

        article {
            width: 80%;
        }

        .blog-content {
            color:
                black;
        }

        .blog-header {
            background-color: black;
        }

        .blog-header h2,
        .blog-header h4 {
            color: white;
        }

        article h2,
        article h4 {
            color: white;
        }

        article h2 {
            text-align: left;
        }

        article h4 {
            text-align: right;
        }

        article {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }

        .errors {
            color: red;
        }

        .hidden {
            display: none;
        }
    </style>
    <div class="header">
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/dashboard">Dashboard</a><a></a></li>
                <li><a href="/signup" class="hidden-when-logged-in hidden">Signup</a></li>
                <li><a href="/login" class="hidden-when-logged-in hidden">Login</a></li>
                <li><button id="logout-button" class="hidden-when-logged-out hidden">Logout</button></li>
            </ul>
        </nav>
        <div>
            <h1>The Tech Blog</h1>
        </div>
    </div>

    <div class="main">

        {{{body}}}

    </div>

    <script>
        document.querySelector("#logout-button").onclick = async () => {
            const response = await fetch("/api/logout");
            if (response.redirected) {
                location.href = response.url;
                return;
            }
        }

        (async () => {
            const response = await fetch("/api/current-user");
            const user = await response.json();
            if (user) {
                document.querySelectorAll(".hidden-when-logged-out").forEach(element => {
                    element.classList.remove("hidden");
                });
            } else {
                document.querySelectorAll(".hidden-when-logged-in").forEach(element => {
                    element.classList.remove("hidden");
                });
            }
        })()

    </script>
</body>

</html>