{{#each posts}}
<article>
    <header>
        <h2>{{this.title}}</h2>
        <small>{{this.postDate}}</small>
    </header>
    <main>
        <p>{{this.content}}</p>
    </main>
</article>
{{/each}}