
<article>

<div class="blog-header">
    <h2>MY MVC Is So Important</h2>
    <h4>Posted By Xandromus on 5/8/202</h4>
</div>


<p class="blog-content"> MVC allows developers to maintain a true seperation of concerns, devising their code between the Model layer for data, the View layer for design, and the Controller layer for application logic.</p>


</article>